cilium:
  # Force cilium to deploy in kube-system namespace
  namespaceOverride: kube-system
  ipam:
    mode: kubernetes
  kubeProxyReplacement: false
  k8sServiceHost: 192.168.1.250
  k8sServicePort: 6443
  
  # Talos compatibility settings - MUST use correct capabilities
  # src: https://www.talos.dev/v1.10/kubernetes-guides/network/deploying-cilium/#method-1-helm-install
  securityContext:
    capabilities:
      ciliumAgent:
        - CHOWN
        - KILL
        - NET_ADMIN
        - NET_RAW
        - IPC_LOCK
        - SYS_ADMIN
        - SYS_RESOURCE
        - DAC_OVERRIDE
        - FOWNER
        - SETGID
        - SETUID
      cleanCiliumState:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_RESOURCE
  
  cgroup:
    autoMount:
      enabled: false
    hostRoot: /sys/fs/cgroup